body, html {scroll-behavior:smooth;}

/* 반응형 대비 최소제한 너비 설정  */
header, main {min-width:900px;}
/* header */
header {
    position:fixed; left:0; top:0; width:100%; z-index:999;
    padding:30px 40px 0 40px;
}
header nav {
    display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center;
    padding:20px 0 15px 0; 
    border-top:1px solid black; border-bottom:2px solid black;
    
}
header nav .gnb {}
header nav .gnb a {
    /* font-size:1.25rem;  */font-weight:700; letter-spacing:-0.02rem;
    margin-right:35px;
}
header nav .gnb a:hover {color:#6C23C9;}
header nav .sns {}
header nav .sns span {/* font-size:1.25rem; */ letter-spacing:-0.02rem;}
/* #home */
main {
    height:100vh; text-align:center;
}
main >* {padding:0 30px;}
main #home {
    padding-top:200px;
    background: linear-gradient(357deg, rgba(220, 202, 233, 0.54) 0%, rgba(255, 255, 255, 0.00) 100%, rgba(228, 214, 238, 0.42) 100%);
}
main #home h1 {padding-bottom:300px;}
main #home h1 img {}
main #home .mouse {
    /* position:fixed; left:50%; bottom:40px;
    transform:translateX(-50%); */
    animation:mouse_move 1s linear alternate infinite;
}
main #home .mouse img {}
@keyframes mouse_move {
    0% {transform:translateY(15px)}
    100% {transform:translateY(-15px)}
}
/* #skill */
main #skill {background:rgba(228, 214, 238, 0.42);}
main #skill h1 {
    font-size:3.125rem; font-weight:700; letter-spacing:-0.02rem;
    text-align:left;
    border-bottom:2px solid black; padding:65px 0 25px 0;
    margin-bottom:40px;
}
main #skill .container {
    /* 스킬 9개를 수직 줄바꿈 배치하는 flex */
    display:flex; flex-flow:column wrap; align-items:space-between;
    height:700px;
}
main #skill .container li {
    width:45%;
    display:flex; flex-flow:row nowrap; align-items:center;
    border-bottom:1px dashed #777; padding-bottom:30px;
    margin-bottom:30px;
}
main #skill .container li .icon {width:68px;}
main #skill .container li .icon img {}
main #skill .container li .contents {
    width:calc(100% - 68px);
    text-align:left; font-weight:700; letter-spacing:-0.02rem; line-height:30px;
}
/* #profile */
main #profile {
    background:rgba(228, 214, 238, 0.42);
    padding-bottom:80px;
}
main #profile h1 {
    padding-top:88px; margin-bottom:100px;
    font-size:3rem; font-weight:700;
    letter-spacing:-0.02rem; line-height:70px;
}
main #profile h1 em {
    font-size:3rem; font-weight:700; color:#6C23C9;
    letter-spacing:-0.02rem; line-height:70px;
}
main #profile .contents {
    display:flex; flex-flow:row nowrap; 
    justify-content:space-around;
}
main #profile .contents .left {
    
}
main #profile .contents .left img {}
main #profile .contents .right {text-align:left; width:55%;}
main #profile .contents .right >* {margin-bottom:20px; width:80%;}
main #profile .contents .right h2 {
    font-size:1.562rem; font-weight:700; letter-spacing:-0.02rem;
}
main #profile .contents .right p {
    font-weight:700;
    line-height:30px; letter-spacing:-0.02rem;
}
main #profile .contents .right h3 {
    font-size:1.25rem; font-weight:700; letter-spacing:-0.02rem;
    margin-bottom:10px;
}
main #profile .contents .right dl {
    display:flex; flex-flow:row wrap; width:60%;
}
main #profile .contents .right dl >* {
    padding:10px 0;
    border-bottom:1px dashed #ccc;
    letter-spacing:-0.02rem;
}
main #profile .contents .right dl dt {width:100px;}
main #profile .contents .right dl dd {
    width:calc(100% - 100px);
}
/* #project_web1 */
main #project_web1 {
    background:rgba(228, 214, 238, 0.42);
    padding-bottom:35px;
}
main #project_web1 h1 {
    font-size:3.125rem; letter-spacing:-0.02rem; font-weight:700;
    padding-top:70px; margin-bottom:46px;
}
main #project_web1 p {margin-bottom:37px;}
main #project_web1 p img {}
main #project_web1 .project_info {}
main #project_web1 .project_info p {
    font-size:1.25rem; letter-spacing:-0.02rem; line-height:30px;
    text-align:left; transform:translateX(30%);
    margin-bottom:15px;
}
main #project_web1 .link {
    display:flex; flex-flow:row nowrap; justify-content:center;
}
main #project_web1 .link a {
    padding:10px 20px; background:#000; border-radius:10px;
    color:#fff; font-weight:700; font-size:1.25rem;
    margin-right:10px;
}
main #project_web1 .link a:last-child {
    margin-right:0; background-color:#BA90C6;
}
/* #project_web2 */
main #project_web2 {
    background:rgba(228, 214, 238, 0.42);
    padding-bottom:35px;
}
main #project_web2 h1 {
    font-size:3.125rem; letter-spacing:-0.02rem; font-weight:700;
    padding-top:70px; margin-bottom:46px;
}
main #project_web2 p {margin-bottom:37px;}
main #project_web2 p img {}
main #project_web2 .project_info {}
main #project_web2 .project_info p {
    font-size:1.25rem; letter-spacing:-0.02rem; line-height:30px;
    text-align:left; transform:translateX(30%);
    margin-bottom:15px;
}
main #project_web2 .link {
    display:flex; flex-flow:row nowrap; justify-content:center;
}
main #project_web2 .link a {
    padding:10px 20px; background:#000; border-radius:10px;
    color:#fff; font-weight:700; font-size:1.25rem;
    margin-right:10px;
}
main #project_web2 .link a:last-child {
    margin-right:0; background-color:#BA90C6;
}
